#**Variables in Python**



*   variable name starts with an alphabet or '_'
*   variable name cannot have a digit in staring

*   variable name contains alphabets (lowercase,uppercase), digits and underscore
*   variable names are case sensitive

In [ ]:
# Correct variable names
a_variable = 12
_car1 = "Avendator"
MY_favourite_avenger_10 = "Spider Man"
condition2 = False

In [ ]:
# Incorrect variable names
1_car = "Urus"
Endsem_% = 98
Full Name = "Jack Dorsey"

SyntaxError: ignored

# **Different data types in Python**

##Integer

In [ ]:
age = 54

In [ ]:
age

54

In [ ]:
type(age)

int

No need of using long, short, longlong, unsigned in python,
it automatically detects data type

In [ ]:
number = 32450010012378

In [ ]:
number

32450010012378

In [ ]:
type(number)

int

## Float

In [ ]:
pi = 3.141592653589793238

In [ ]:
pi # Observe value of pi is truncated

3.141592653589793

In [ ]:
type(pi)

float

In [ ]:
a_number = 19.

In [ ]:
a_number

19.0

In [ ]:
type(a_number) # Using '.' will automatically converts a number to float

float

Floating point numbers can also be written in form of e (Scientific Notation)

In [ ]:
ten_power = 3e-2

In [ ]:
ten_power

0.03

In [ ]:
type(ten_power)

float

In [ ]:
avogardo_number = 6.02214076e23
avogardo_number

6.02214076e+23

In [ ]:
type(avogardo_number)

float

Converting float to other datatypes

In [ ]:
pi

3.141592653589793

In [ ]:
type(pi)

float

In [ ]:
int(pi)

3

In [ ]:
avogardo_number

6.02214076e+23

In [ ]:
type(avogardo_number)

float

In [ ]:
int(avogardo_number)

602214075999999987023872

## Boolean

In [ ]:
monday_today = False

In [ ]:
monday_today

False

In [ ]:
type(monday_today)

bool

Bool values convert into numerical datatype when we apply any kind of arithmatic operation

*   False = 0
*   True  = 1

In [ ]:
5 + False

5

In [ ]:
5 + True

6

##None

In [ ]:
later_use = None

In [ ]:
type(later_use)

NoneType

## String

We can use single or double quotes for Strings

In [ ]:
name = "Ajay"

In [ ]:
name1 = 'Arun'

In [ ]:
name

'Ajay'

In [ ]:
name1

'Arun'

In [ ]:
type(name)

str

In [ ]:
type(name1)

str

If the sentence contains single quote or double quote use front slash in front of that quote.

In [ ]:
sent1 = 'Hello, My name is Rahul'

In [ ]:
sent1

'Hello, My name is Rahul'

In [ ]:
type(sent1)

str

In [ ]:
sent2 = 'I am Ravi\'s Brother'

In [ ]:
sent2

"I am Ravi's Brother"

In [ ]:
sent3 = "He calls me \"Ra\"."

In [ ]:
sent3

'He calls me "Ra".'

Use triple quotes when you want to print text in multiple lines.

In [ ]:
sent4 = "Hello my name is Rahul.
I am Ravi's brother.
He calls me\"Ra\"."

SyntaxError: ignored

In [ ]:
print(sent4)

NameError: ignored

In [ ]:
sent5 = """Hello my name is Rahul.
I am Ravi's brother.
He calls me\"Ra\"."""

In [ ]:
print(sent5)

Hello my name is Rahul.
I am Ravi's brother.
He calls me"Ra".

A string can be converted into a list of characters using String Function

In [ ]:
str1 = "Hello"

In [ ]:
list(str1)

['H', 'e', 'l', 'l', 'o']

We can simply access any String character using [ ] square brackets with the index in it

In [ ]:
day = "Saturday"

In [ ]:
day[2]

't'

In [ ]:
day[0:3]

'Sat'

In [ ]:
# You can check whether a certain substring is present in a string or not
'day' in day

True

In [ ]:
'Sun' in day

False

Basic String Functions

In [ ]:
#lower()
print("Name".lower())
#upper()
print("Name".upper())
#capitalize: makes first letter capital
print("name".capitalize())
#replace a substring to another substring within a string
print("name".replace("n","bl"))

name
NAME
Name
blame

In [ ]:
#Split a string into a list based on a certain character
"Mon,Tue,Wed,Thu,fri,Sat,Sun".split(",")

['Mon', 'Tue', 'Wed', 'Thu', 'fri', 'Sat', 'Sun']

In [ ]:
# Trim the extra space from Starting and End
"    Hello Jack.  ".strip()

'Hello Jack.'

In [ ]:
# Use str() function to convert any datype into String datatype
number = 3.1415
print(number)
print(type(number))
print()
number = str(number)
print(number)
print(type(number))

3.1415
<class 'float'>

3.1415
<class 'str'>

## List



*   Ordered collection of values
*   Hetrogenous(consist of different datatypes)

*   Have functions like add, count, remove etc.
*   Use square brackets [ ] with commas between values

In [ ]:
fruits = ['Apple','Banana','Pineapple','Cherry']

In [ ]:
fruits

['Apple', 'Banana', 'Pineapple', 'Cherry']

In [ ]:
type(fruits)

list

In [ ]:
fruits_info = [fruits,180,1.5,40,1.0,125,2,80,0.5]

In [ ]:
fruits_info # Hetrogenous List

[['Apple', 'Banana', 'Pineapple', 'Cherry'],
 180,
 1.5,
 40,
 1.0,
 125,
 2,
 80,
 0.5]

In [ ]:
len(fruits_info) # number of elements in a list

9

You can access the elements of a list using index of an element

In [ ]:
fruits

['Apple', 'Banana', 'Pineapple', 'Cherry']

In [ ]:
fruits[1]

'Banana'

In [ ]:
fruits[1:3]

['Banana', 'Pineapple']

In [ ]:
fruits[-1]

'Cherry'

In [ ]:
fruits[-1:-3:-1]

['Cherry', 'Pineapple']

In [ ]:
fruits[-4]

'Apple'

In [ ]:
fruits[0]

'Apple'

In [ ]:
fruits[0:-1:2]

['Apple', 'Pineapple']

In [ ]:
fruits[-1:]

['Cherry']

In [ ]:
#Changing element of an array
print(fruits)
fruits[2] = 'Pineapple'
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Cherry']
['Apple', 'Banana', 'Pineapple', 'Cherry']

List's basic Functions

In [ ]:
fruits.append('Guava') # append: used to insert a value at the last of a list
fruits

['Apple', 'Banana', 'Pineapple', 'Cherry', 'Guava']

In [ ]:
fruits.insert(2,'Watermelon') # insert: use to insert a value at a particular position
fruits

['Apple', 'Banana', 'Watermelon', 'Pineapple', 'Cherry', 'Guava']

In [ ]:
fruits[2] = 'Strawberry'
fruits

['Apple', 'Banana', 'Strawberry', 'Pineapple', 'Cherry', 'Guava']

In [ ]:
# remove: removes spcified element from the list(can remove only one elemnets)
fruits.remove('Strawberry')
fruits

['Apple', 'Banana', 'Pineapple', 'Cherry', 'Guava']

In [ ]:
# removes the last element from the list
fruits.pop()

'Guava'

In [ ]:
fruits.pop(3) # removing spcific element form the array

'Cherry'

In [ ]:
'Guava' in fruits # in: use to find a particular element from the list

False

In [ ]:
'Apple' in fruits

True

In [ ]:
more_fruits = ['Guava', 'Cherry', 'Kiwi']

In [ ]:
# adding three lists into one using '+'
print("First list: ",fruits)
print("Second list: ",more_fruits)
new_fruits = fruits+more_fruits+['papaya','orange']
print("new list: \n",new_fruits)

First list:  ['Apple', 'Banana', 'Pineapple']
Second list:  ['Guava', 'Cherry', 'Kiwi']
new list:
 ['Apple', 'Banana', 'Pineapple', 'Guava', 'Cherry', 'Kiwi', 'papaya', 'orange']

In [ ]:
#copy elements from one list to another 
fruitsC = fruits.copy()
print(fruitsC)

['Apple', 'Banana', 'Pineapple']

##Tuple



*   Ordered collection of values.
*   It is not possible to add, remove or modify values in tuples (immutable).
*   A tuple is created by enclosing values with parentheses ()
*   Tuples are commonly used to create multiple variables with single statement.

In [ ]:
fruits = ('Apples','Banana','Grapes')
fruits

('Apples', 'Banana', 'Grapes')

In [ ]:
#Number of elements in tuple
len(fruits)

3

In [ ]:
#access an element of the tuple
print(fruits[1])
print(fruits[-2])

Banana
Banana

In [ ]:
'Grapes' in fruits

True

In [ ]:
fruits[0] = 'Watermelpn' # immutable

TypeError: ignored

In [ ]:
fruits.append('Watermelon') # cannot add values

AttributeError: ignored

In [ ]:
fruits.remove('Apples')# cannot remove values

AttributeError: ignored

In [ ]:
#Create a tuple without brackets with just one element
number = 10,
number

(10,)

In [ ]:
point = (3,5)
x,y = point
print(x)
print(y)

3
5

In [ ]:
# Converting TUPLE into to LIST
tuple1 = (1,2,3,4,5,"Elephants")
print(tuple1)
print(type(tuple1))
lst1 = [tuple1]
print(lst1)
print(type(lst1))

(1, 2, 3, 4, 5, 'Elephants')
<class 'tuple'>
[(1, 2, 3, 4, 5, 'Elephants')]
<class 'list'>

In [ ]:
# Converting LIST to TUPLE
lst2 = [1,2,3,4,5,"Monkeys",True] 
print(lst2)
print(type(lst2))
tpl = tuple(lst2)
print(tpl)
print(type(tpl))

[1, 2, 3, 4, 5, 'Monkeys', True]
<class 'list'>
(1, 2, 3, 4, 5, 'Monkeys', True)
<class 'tuple'>

In [ ]:
ct = tpl.count
ct

##Dictionary



*   Unordered collection of items
*   Items are stored in Key and Value pairs
*   Use key to access value 
*   Dictionary store values in the pair of Key-Values which are enclosed with  brackets { }
*   Dictionary are mutable

In [ ]:
person1 = {'name': "Jack",
           'age': 32,
           'address': "A180 Apex Appartment",
           'selected': True}
print(person1)
print(type(person1))

{'name': 'Jack', 'age': 32, 'address': 'A180 Apex Appartment', 'selected': True}
<class 'dict'>

In [ ]:
person2 = dict(name = "Alice",age = 34,address = "320 Queens Road Belamorr",selected = True)
print(person2)
print(type(person2))

{'name': 'Alice', 'age': 34, 'address': '320 Queens Road Belamorr', 'selected': True}
<class 'dict'>

In [ ]:
print(person2['name'],person2['age'])
print(person1['name'],person1['age'])
print("Age Difference: ",person2['age']-person1['age'])

Alice 34
Jack 32
Age Difference:  2

In [ ]:
person1['name'] = "Joseph"
person1

{'address': 'A180 Apex Appartment',
 'age': 32,
 'name': 'Joseph',
 'selected': True}

In [ ]:
person1.pop('address')
person1

{'age': 32, 'name': 'Joseph', 'selected': True}

In [ ]:
person2.keys()

dict_keys(['name', 'age', 'address', 'selected'])

In [ ]:
person2.values()

dict_values(['Alice', 34, '320 Queens Road Belamorr', True])

In [ ]:
person2.items()

dict_items([('name', 'Alice'), ('age', 34), ('address', '320 Queens Road Belamorr'), ('selected', True)])